{
  "name": "World Temperature",
  "about": "A DVM that can report the temperature of a location on earth",
  "capability": "getLocationTemperature",
  "eventTags": {
    "t": [
      "temperature",
      "unit",
      "celcius"
    ]
  },
  "serviceAnnouncementTags": {
    "t": [
      "temperature",
      "unit",
      "celcius"
    ]
  },
  "openWeatherApiKey": "[openweathermap api key]"
}
